:root {
  --color-body: #f2f3f4;
  --color-main: #9D8665;
  --color-back: #2c323d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, Arial, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: var(--color-body);
  background-color: var(--color-back);
}

.container-main {
  max-width: 920px;
  margin: auto;
  background-color: #343945;
}

li {
  list-style: none;
}

.link {
  font-weight: 600;
  color: var(--color-main);
  text-decoration: none;
}

.link:hover {
  color: var(--color-body);
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
}

.header__navigation {
  width: 90%;
  height: 5rem;
}

.photo-description-block {
  display: flex;
  height: 300px;
}

.photo-description-block__description {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 4rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-back);
  background-color: var(--color-main);
}

.photo-description-block__description-container {
  width: 50%;
  line-height: 4rem;
}

.photo-description-block__back {
  width: 50%;
  height: 90%;
  background-image: url("img/2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  color: var(--color-main);
}

h1, 
h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section {
  display: flex;
  padding: 2rem;
  border-bottom: 1px solid var(--color-main);
}

.photo {
  height: 300px;
}

.section-container {
  display: flex;
  width: 100%;
}

.section-container__h2 {
  width: 26%;
  text-align: right;
}

.code-container__h2 {
  width: 26%;
  text-align: right;
}

.section-container__content {
  width: 74%;
  line-height: 4rem;
  padding-left: 4rem;
}

.summary-container__content {
  width: 74%;
  padding-left: 4rem;
}

.contacts-li {
  padding-left: 5rem;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: left center;
}

.contacts-li_phone {
  background-image: url("svg/phone_white.svg");
}

.contacts-li_email {
  background-image: url("svg/email_white.svg");
}

.contacts-li_git {
  background-image: url("svg/github_white.svg");
}

.skills-li {
  column-count: 2;
}

.skills-li_html {
  background-image: url("svg/html.svg");
}

.skills-li_css {
  background-image: url("svg/css.svg");
}

.skills-li_js {
  background-image: url("svg/js.svg");
}

.skills-li_github {
  background-image: url("svg/github.svg");
}

.skills-li_vsc {
  background-image: url("svg/vsc.svg");
}

.skills-li_figma {
  background-image: url("svg/figma.svg");
}

.skills-li_eng {
  background-image: url("svg/dictionary.svg");
}

.code {
  padding-left: 4rem;
  margin-top: -1.6rem;
  margin-bottom: -2rem;
  overflow: auto;
}


/* projects */

.projects-container {
  width: 100%;
}

.project {
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid var(--color-body);
}

.project:hover {
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid var(--color-main);
}

.project-last {
  width: 100%;
  border: 1px solid var(--color-body);
}

.project-last:hover {
  width: 100%;
  border: 1px solid var(--color-main);
}

.project__description {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: normal;
  background-color: #000000;
}


.project__image img {
  display: block;
  max-width: 100%;
}

.project-link {
  color: var(--color-body);
  text-decoration: none;
}

.project-link:hover {
  color: var(--color-main);
  text-decoration: none;
}

iframe {
  width: 100%;
  height: 315px;
}

/* footer */
.footer-container {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-main);
}

.footer-container__git {
  width: 31%;
  margin: 0 auto;
  border: 1px solid var(--color-main);
}

.footer-container__git:hover {
  border: 1px solid var(--color-body);
}

.footer-container__year {
  width: 38%;
  margin: 0 auto;
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
}

.footer-container__year:hover {
  border: 1px solid var(--color-body);
}

.footer-container__rs {
  width: 31%;
  border: 1px solid var(--color-main);
  background-image: url("svg/rs_school_js.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-container__rs:hover {
  background-image: url("svg/rs_school_js_white.svg");
  border: 1px solid var(--color-body);
}

.git-link {
  color: var(--color-main);
  text-decoration: none;
}

.git-link:hover {
  color: var(--color-body);
  text-decoration: none;
}